h1 {
    text-align: center;
}
body {
    background-color: rgb(209, 245, 245);
}
.container{
   margin: 0 auto;
   width: 80%;
}
.centered {
    text-align: center;
}
button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
}
.startingBtn {border-radius: 15px;}
